header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #a06042;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
}

header div {
    padding-top: 75px;
    margin-right: 20px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header h1 {
    background-color: rgb(147, 188, 241);
}

header div ul li {
    display:inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

.subtitle {
    background-image: url(https://media.istockphoto.com/photos/code-programming-for-website-editors-view-picture-id1290492381?b=1&k=20&m=1290492381&s=170667a&w=0&h=NQSXJKhncCP1GLzDkD8KPZsCOh1wldDj5RZbPVJztxQ=);
    color: white;
}


.flex-container {
    display: flex;
    background-color: DodgerBlue;
}  
.flex-container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
